<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Imagen</th>
            <th scope="col">Producto</th>
            <th scope="col">Color</th>
            <th scope="col">Talle</th>
            <th scope="col">Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="product.imagen" [alt]="product.producto"></td>
            <td>{{product.producto}}</td>
            <td>{{product.color}}</td>
            <td>{{product.talle}}</td>
            <td>{{product.stock}}</td>
        </tr>

    </tbody>
</table>