<table class="table table-striped table-dark text-center">
    <thead>
        <tr>
            <th scope="col">Imagen</th>
            <th scope="col">Producto</th>
            <th scope="col">Color</th>
            <th scope="col">Talle</th>
            <th scope="col">Stock</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products" [ngClass]="{'oferta': product.oferta}">
            <td><img [src]="product.imagen" [alt]="product.producto"></td>
            <td>{{product.producto}}</td>
            <td>{{product.color}}</td>
            <td>{{product.talle}}</td>
            <td><span class="badge badge-danger" *ngIf="product.stock==0">SIN STOCK</span></td>
            <td>{{product.precio | currency}}</td>
            <td>
                <app-input-number [(cantidad)]="product.cantidad" [max]="product.stock" *ngIf="product.stock"></app-input-number>
                <button class="btn btn-primary btn-sm" (click)="addToCart(product)">Agregar al carrito</button>
            </td>
        </tr>

    </tbody>
</table>